duckduckgo_search==8.1.1
markdown-it-py==4.2.0
mdit-py-plugins==0.6.1
pillow==12.2.0
PyPDF2==3.0.1
python-docx==1.2.0
python-multipart==0.0.28
python-pptx==1.0.2
pytesseract==0.3.13
requests==2.34.1
shiny==1.6.1
