anyio==4.13.0
asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
duckduckgo_search==8.1.1
h11==0.16.0
htmltools==0.6.1
idna==3.15
importlib_metadata==8.7.1
linkify-it-py==2.1.0
lxml==6.1.0
markdown-it-py==4.2.0
mdit-py-plugins==0.6.1
mdurl==0.1.2
narwhals==2.21.0
opentelemetry-api==1.41.1
orjson==3.11.9
packaging==26.2
pillow==12.2.0
platformdirs==4.9.6
primp==1.2.3
prompt_toolkit==3.0.52
PyPDF2==3.0.1
python-docx==1.2.0
python-multipart==0.0.28
python-pptx==1.0.2
pytesseract==0.3.13
questionary==2.1.1
requests==2.34.1
setuptools==82.0.1
shiny==1.6.1
shinychat==0.3.1
starlette==1.0.0
typing_extensions==4.15.0
uc-micro-py==2.0.0
urllib3==2.7.0
uvicorn==0.46.0
watchfiles==1.1.1
wcwidth==0.7.0
websockets==16.0
xlsxwriter==3.2.9
zipp==3.23.1
